<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Complaints</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>
    <div class="row justify-content-center">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="#" class="navbar-brand " style="margin-left: 10px;"><h1>Student Dormitory Assistant</h1></a>
            <div class="text-right">
              <button
            class="navbar-toggler btn btn-secondary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-bs-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-lable="Toggel navigation"
            style="margin-right: 12px;" >
            <span class="navbar-toggler-icon"></span>
             Menu</button>
            </div>
            
            <div class="collapse navbar-collapse " id="toggleMobileMenu">
                <ul class="navbar-nav" style="margin-left: 10px;">
        
                    <li class="nav-item active">
                        <a class="nav-link text-black-50" th:href="@{/complains/current}">Report-Complaints</a>
                    </li>
                    <li>
                        <a class="nav-link text-black-50" th:href="@{/complaint}">complaints</a>
                    </li>
                    <li>
                        <a class="nav-link text-black-50" th:href="@{/validity}">Valid-Complaints</a>
                    </li>
                     <li>
                        <a class="nav-link text-black-50" th:href="@{/isAddressed}">Addressed-Complaints</a>
                    </li>
                    <li>
                        <a class="nav-link text-black-50"
                        th:href="@{/profile}" 
                        sec:authentication="name"></a>
                    </li>
                </ul>
                <form  class="d-flex" method="POST" th:action="@{/logout}">
                  <input class="form-control me-2 btn btn-outline-success" type="submit" value="Logout"/>
                </form>
                </div>
        </nav>
    </div>
    <body>
        <div >
            <h1 align="center">Edit Complaint</h1>
            <br />
            <form class="form-group" action="#" th:action="@{/save}" th:object="${complainReport} "
                method="post" style="margin-left: 20%;">
                <div class="form-group col-lg-3">
                    <label for="profile_ID">Prodile id</label>
                    <input type="text" class="form-control" th:field="*{id}" readonly="readonly" id="profile_ID" />
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="studentName">student Name</label>
                    <input type="text" class="form-control" th:field="*{studentName}" readonly="readonly" id="studentName" />
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="student_ID">student id</label>
                    <input type="text" class="form-control" th:field="*{studentID}" readonly="readonly" id="student_ID" />
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="Block_No">Block Number</label>
                    <input type="text" class="form-control" th:field="*{studentBlockNO}"  readonly="readonly" id="Block_No" />
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="Dorm_No">Dorm Number</label>
                    <input type="text" class="form-control" th:field="*{studentDormNO}"  readonly="readonly" id="Dorm_No" />
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="complain">Student Complain</label>
                    <input type="text" class="form-control" th:field="*{studentComplain}"  readonly="readonly" id="complain" />
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="validity">validity</label>
                    <input class="form-control"
                            type="text" th:field="*{valid}" id="validity" /> 
    
                  </div>
                  <div class="form-group col-lg-3">
                    <label for="address">Is Addressed</label>
                    <input type="text" class="form-control" th:field="*{address}" id="address" />
                  </div>
                </br>
                  <Button  class="btn btn-primary btn-md "  type="submit">Save</Button>
                  </div>
                  
                  
                  

            </form>
        </div>
    </body>
    </html>
</body>
</html>